<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ApplicationEntities" connectionString="metadata=res://*/Data.Application.csdl|res://*/Data.Application.ssdl|res://*/Data.Application.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=epiworx;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>