<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SecurityConnection"
         connectionString="metadata=res://*/Application.csdl|res://*/Application.ssdl|res://*/Application.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=epiworx_test;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="ApplicationConnection"
         connectionString="metadata=res://*/Application.csdl|res://*/Application.ssdl|res://*/Application.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=epiworx_test;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MailSmtpServer" value="" />
    <add key="MailSmtpServerPort" value="" />
    <add key="MailFrom" value="" />
    <add key="MailSslEnabled" value="" />
    <add key="MailUserName" value="" />
    <add key="MailPassword" value="" />
  </appSettings>
</configuration>