body
{
    background-color: #FFF;
    font-size: 14px;
    font-family: 'Times New Roman' , Times, serif;
}

a
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    background-color: #CC0000;
    color: #FFF;
}

h2
{
    font-size: 32px;
    clear: both;
    display: block;
    margin-bottom: 20px;
}

h2 span
{
    margin-left: 9px;
    text-transform: lowercase;
}

h3
{
    font-size: 22px;
    margin-bottom: 10px;
}

h3 span
{
    margin-left: 9px;
}

h4
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

h5
{
    font-size: 14px;
}

fieldset
{
    margin-bottom: 20px;
}

fieldset label
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

fieldset select.multiple
{
    height: 200px;
}

fieldset p
{
    margin-bottom: 20px;
}

fieldset p.checkbox
{
}

fieldset p.checkbox label
{
    display: inline;
    margin-bottom: 0px;
}

fieldset p.span1
{
    float: left;
    width: 240px;
}

fieldset p.span1.last
{
    width: 220px;
}

fieldset p.span2
{
    float: left;
    width: 480px;
}

fieldset p.span3
{
    width: 700px;
}

fieldset p.span3
{
    width: 700px;
}

fieldset p.span3 input[type="text"]
{
    width: 680px;
}

fieldset p.span3 input[type="text"].date
{
    width: 100px;
}

fieldset .separator
{
    border-bottom: dashed 1px #999999;
    margin-bottom: 20px;
    width: 700px;
}

input
{
    font-size: 14px;
}

input[type="text"], input[type="password"]
{
    padding: 5px;
    border: 1px solid #AAAAAA;
}

input[type="text"].big, input[type="password"].big
{
    font-size: 22px;
}

input[type="text"].small, input[type="password"].small
{
    width: 50% !important;
}

input[type="text"].date
{
    width: 100px;
}

input[type="text"].number
{
    width: 100px;
}

input[type="button"], input[type="submit"]
{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

select
{
    padding: 5px;
    width: 212px;
}

textarea
{
    font-size: 14px;
    padding: 5px;
    width: 680px;
    height: 100px;
}

ul.list
{
}

ul.list a
{
    color: #CC0000;
}

ul.list a:hover
{
}

ul.list li
{
    padding: 10px;
    margin-left: -10px;
}

ul.list li p
{
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
}

ul.list li:hover
{
    background-color: #E2E2E2;
}

ul.list li:hover a
{
    color: #CC0000;
    background-color: #E2E2E2;
    text-decoration: underline;
}

p
{
    line-height: 20px;
}

table.list
{
    width: 100%;
}

table.list a
{
    color: #CC0000;
    text-transform: uppercase;
    font-weight: bold;
}

table.list td, th
{
    padding: 10px;
}

table.list th
{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

table.list p
{
    height: 18px;
    overflow: hidden;
}

table.list thead tr
{
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
}

table.list tbody tr
{
    border-bottom: 1px solid #BBBBBB;
}

table.list tbody tr:hover td
{
    background-color: #E2E2E2;
}

table.list tbody tr:hover td a
{
    background-color: #E2E2E2;
    color: #CC0000;
    text-decoration: underline;
}

table.list tfoot
{
    font-weight: bold;
}

.clear
{
    clear: both;
    display: block;
}

.commands
{
}

.commands li
{
    float: left;
    margin-right: 10px;
}

.commands li a
{
    float: left;
    margin-left: -2px;
    margin-top: 10px;
}

.commands li a:hover
{
    background-color: inherit;
    color: #000;
    text-decoration: underline;
}

.commands li span.disabled
{
    float: left;
    margin-top: 11px;
    color: #808080;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.tip
{
    margin-top: 5px;
    color: #239E0A;
    display: block;
    font-size: 14px;
}

.tip a
{
    color: inherit;
    text-decoration: underline;
}

.tip a:hover
{
    color: #000;
    background-color: inherit;
}

.message
{
    color: #239E0A;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.validation-summary-errors
{
    color: #CC0000;
    margin-bottom: 20px;
}

.validation-summary-errors span
{
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.validation-summary-errors ul
{
    margin-top: 5px;
    list-style-type: inherit;
}

.validation-summary-errors li
{
    margin-left: 30px;
    line-height: 20px;
}

.field-validation-error
{
    color: #CC0000;
    margin-left: 5px;
    font-size: 12px;
}

.instructions
{
    margin-bottom: 10px;
}

.instructions a:hover
{
    color: #000;
}

.part
{
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.part li
{
    padding: 10px 20px 10px 20px;
}

.part li.last
{
    margin-bottom: 0px;
}

.part li a
{
    color: #000;
}

.part li:hover
{
    background-color: #E2E2E2;
}

.part li:hover a
{
    background-color: #E2E2E2;
}

#header-container
{
    padding: 0px 80px 10px 80px;
}

#header
{
    height: 110px;
}

#title
{
    padding-top: 10px;
    float: left;
}

#title a
{
}

#title a:hover
{
}

#title h1
{
    text-transform: lowercase;
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#title p
{
    font-size: 16px;
    color: #666666;
}

#profile
{
    float: right;
    margin-left: 20px;
}

#profile a
{
}

#profile img
{
    float: left;
    width: 60px;
    height: 60px;
}

#profile span
{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

#menu
{
    color: #666666;
    float: right;
    padding-top: 10px;
}

#menu a
{
    padding: 2px 5px 2px 5px;
}

#menu a:hover
{
}

#menu li
{
    float: left;
    margin-left: 10px;
}

#find
{
    float: right;
    margin-right: 80px;
}

#find input[type="text"]
{
    width: 288px;
}

#find img
{
    position: absolute;
    margin-left: -22px;
    margin-top: 8px;
}

#navigation
{
    background: #FFF;
    clear: both;
    display: block;
    height: 50px;
    margin-left: 60px;
}

#navigation a
{
    float: left;
    height: 33px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 10px 2px 10px;
}

#navigation a:hover
{
    background-color: #CC0000;
    color: #FFF;
}

#navigation ul
{
    margin-left: 10px;
}

#navigation li
{
    float: left;
    margin-right: 40px;
}

#navigation li.selected a
{
    background-color: #CC0000;
    color: #FFF;
}

#navigation li.selected a:hover
{
}

#page
{
    min-width: 1200px;
}

#main
{
    background: #FFF;
    margin: 0px 60px 10px 60px;
    padding: 20px;
}

#main h2
{
}

#main h2 ul
{
    float: right;
}

#main h2 li
{
    display: inline;
    font-size: 16px;
}

#body
{
    vertical-align: top;
}

#sidebar
{
    padding-left: 40px;
    width: 300px;
    vertical-align: top;
}

#sidebar a
{
    color: #CC0000;
    line-height: 16px;
}

#sidebar a.action
{
    display: none;
    float: right;
    font-weight: normal;
}

#sidebar li
{
    margin-left: 0px;
    padding-left: 20px;
}

#sidebar li .box
{
    margin-top: -1px;
}

#sidebar li .value
{
    float: right;
}

#sidebar li:hover a
{
    text-decoration: underline;
}

#sidebar li:hover a.action
{
    display: inherit;
}

#sidebar li img
{
    float: left;
    margin-right: 5px;
}

#sidebar .part
{
    border: solid 1px #E2E2E2;
}

#sidebar .part h4
{
    padding: 10px 20px 0px 20px;
}

#sidebar .part h5
{
    padding: 10px 20px 10px 20px;
}

#sidebar .part h5.first
{
    padding-top: 0px;
}

#sidebar .part .name-value a, #sidebar .part .name-value em
{
    float: right;
    font-size: 12px;
    font-style: normal;
}

#sidebar .part .name-value li:hover
{
}

#sidebar .part .name-value li:hover a, #sidebar .part .name-value li:hover em
{
}

#sidebar .part .total
{
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sidebar .part .total span
{
    float: right;
}

#sidebar .part .no-records
{
    padding: 0px 20px 0px 20px;
}

#footer
{
    margin-top: 10px;
    padding: 10px 80px 0px 80px;
    color: #666666;
    text-align: left;
    height: 80px;
}

#footer ul
{
    margin-bottom: 10px;
    margin-left: -5px;
}

#footer li
{
    display: inline;
}

#footer strong
{
}

#footer a
{
    padding: 2px 5px 2px 5px;
}

#footer a:hover
{
}

#footer h5
{
    color: #CC0000;
    text-transform: lowercase;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    float: right;
}

#filter
{
    background-color: #F0F0F0;
    margin-bottom: 20px;
    padding: 20px;
}

#filter .filter-criteria
{
    clear: both;
}

#filter .filter-sort
{
    clear: both;
    padding-top: 10px;
}

#filter ul.actions li
{
    float: right;
}

#filter ul.actions li a
{
    margin-left: 10px;
}

#filter ul.actions li a:hover
{
    color: #000;
    text-decoration: underline;
    background-color: inherit;
}

#filter h5
{
    color: #CC0000;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#filter span
{
    float: left;
    margin-right: 5px;
}

#filter strong
{
    margin-right: 5px;
    color: #CC0000;
    cursor: pointer;
    text-decoration: underline;
}

#filter span strong
{
    margin-right: 0px;
}

#filter .filter-value
{
    float: left;
}

#filter .filter-value select
{
    margin-top: -4px;
    padding: 3px;
    font-size: 12px;
    width: auto;
}

#filter .filter-value-multiple-container
{
    border: 1px solid #AAAAAA;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    margin-top: 5px;
    padding: 2px;
    width: 300px;
}

#filter .filter-value-multiple-container ul
{
    max-height: 305px;
    overflow: auto;
}

#filter .filter-value-multiple-container .commands
{
}

#filter .filter-value-multiple-container .commands a
{
    margin-top: 10px;
}

#filter .filter-value-multiple-container .commands a:hover
{
    background-color: inherit;
    color: #000;
    text-decoration: underline;
}

.feed
{
}

.feed li
{
    border-bottom: 1px solid #C0C0C0;
    padding-top: 10px;
}

.feed li.first
{
    padding-top: 0px;
}

.feed li.last
{
    padding-bottom: 0px;
}

.feed a
{
    color: #CC0000;
}

.feed a:hover
{
    background-color: inherit;
    color: #000000;
    text-decoration: underline;
}

.feed blockquote
{
    padding-top: 5px;
    color: #666666;
}

.feed img
{
    border: 1px solid #C0C0C0;
    padding: 2px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.feed p
{
    clear: both;
    padding-top: 7px;
}

.feed strong
{
    text-transform: lowercase;
}

.part .feed
{
}

.part .feed li
{
    border-bottom: none;
}

.part .feed li.last
{
    padding-bottom: 10px;
}

.part fieldset
{
    padding: 0px 10px 0px 10px;
}

.notes
{
    margin-top: 20px;
    width: 690px;
}

.notes li
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.notes li:last
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: none;
}

.notes li a
{
    float: right;
    display: none;
}

.notes li:hover a
{
    display: inherit;
}

.notes li:hover a:hover
{
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
}

.notes li strong
{
    font-size: 22px;
    text-transform: lowercase;
}

.notes li em
{
    color: #808080;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #C0C0C0;
    padding-left: 5px;
}

.notes li p
{
    padding-top: 10px;
}

.notes .no-records
{
    padding: 0px 0px 20px 0px;
}

.attachments
{
}

.attachments fieldset
{
    padding-top: 10px;
}

.attachments li .action
{
}

.attachments li em
{
    color: #808080;
    display: block;
    margin-top: 5px;
}

#sidebar .labels
{
    padding: 0px 20px 0px 20px;
}

#sidebar .part .labels li
{
    float: left;
    padding: 2px 5px 5px 5px;
    background-color: #F7D4D4;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sidebar .part .labels li.selected
{
    font-size: 150%;
    background-color: #CC0000;
    color: #fff;
}

#sidebar .part .labels li.selected a
{
    color: #fff;
}

#sidebar .labels li a
{
    display: block;
    line-height: inherit;
}

#sidebar .labels li:hover
{
    background-color: #CC0000;
    color: #fff;
}

#sidebar .labels li:hover a
{
    background-color: #CC0000;
    color: #fff;
    text-decoration: none;
}

.flag
{
    width: 16px;
    height: 16px;
}

.flag.bug
{
    background-image: url('FlagEmoticonSad.png');
}

.flag.back-log
{
    background-image: url('FlagYellow.png');
}

.flag.archived
{
    background-image: url('FlagBlack.png');
}

.flag.done
{
    background-image: url('FlagBlue.png');
}

.flag.in-progress
{
    background-image: url('FlagGreen.png');
}

.flag.ready
{
    background-image: url('FlagBlueLight.png');
}

.flag.review
{
    background-image: url('FlagRed.png');
}

.flag.status, .flag.not-archived
{
    background-image: url('FlagWhite.png');
}

.flag.category
{
    background-image: url('FlagEmoticonSmile.png');
}

.flag.hour
{
    background-image: url('FlagCalendar.png');
}

.flag.feature, .flag.task
{
    background-image: url('FlagEmoticonGrin.png');
}

.flag.story
{
    background-image: url('FlagTask.png');
}

.flag.feed
{
    background-image: url('FlagFeed.png');
}

.flag.project
{
    background-image: url('FlagProject.png');
}

th.flag, td.flag
{
    padding: 5px !important;
}

.name-value .flag, .feed .flag
{
    float: left;
    margin-right: 5px;
}

li .flag
{
    float: left;
    margin-right: 5px;
}

.list.user span
{
    display: block;
    line-height: 150%;
}

.list td.note p
{
    margin-bottom: 5px;
}

.list td.note img
{
    float: left;
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

.list td.note em
{
    float: left;
    color: #808080;
    margin-right: 5px;
}

.list td.note strong
{
    float: left;
    margin-right: 5px;
}

.list td.note .label
{
    float: right;
    font-size: 9px;
    font-weight: bold;
    display: block;
    margin-top: 4px;
    text-transform: uppercase;
}

.list td.note .label.today
{
    color: #009933;
}

.list td.note .label.yesterday
{
    color: #FF9933;
}

.list td.note .label.this-week
{
    color: #3333FF;
}