body
{
    background-color: #FFF;
    font-size: 14px;
    font-family: 'Segoe UI' , Arial, Helvetica, sans-serif;
}

a
{
    color: #1BA0E1;
    text-decoration: none;
}

a:hover
{
    color: #1BA0E1;
}

h2
{
    font-weight: normal;
    font-size: 48px;
    display: block;
    margin-bottom: 20px;
    text-transform: lowercase;
    color: #BBBBBB;
    letter-spacing: 3px;
}

h2 span
{
    color: #1BA0E1;
}

h3
{
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: lowercase;
    color: #BBBBBB;
    letter-spacing: 2px;
}

h3 span
{
    color: #1BA0E1;
}

h4
{
    color: #1BA0E1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
}

h5
{
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

fieldset
{
    margin-bottom: 20px;
}

fieldset label
{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 1px;
}

fieldset p
{
    margin-bottom: 20px;
}

fieldset p.checkbox
{
}

fieldset p.checkbox label
{
    display: inline;
    margin-bottom: 0px;
}

fieldset p.span1
{
    float: left;
    width: 240px;
}

fieldset p.span1.last
{
    width: 220px;
}

fieldset p.span2
{
    float: left;
    width: 460px;
}

fieldset p.span3
{
    width: 700px;
}

fieldset p.span3
{
    width: 700px;
}

fieldset p.span3 input[type="text"]
{
    width: 680px;
}

fieldset .separator
{
    border-bottom: dashed 1px #999999;
    margin-bottom: 20px;
    width: 700px;
}

input
{
    font-size: 14px;
    font-family: 'Segoe UI' , Arial, Helvetica, sans-serif;
}

input[type="text"], input[type="password"]
{
    padding: 5px;
    border: 1px solid #AAAAAA;
}

input[type="text"].big, input[type="password"].big
{
    font-size: 22px;
}

input[type="text"].small, input[type="password"].small
{
    width: 50% !important;
}

input[type="text"].date
{
    width: 100px;
}

input[type="text"].number
{
    width: 100px;
}

input[type="button"], input[type="submit"]
{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

select
{
    padding: 5px;
    width: 212px;
}

textarea
{
    font-size: 14px;
    font-family: 'Segoe UI' , Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 680px;
    height: 100px;
}

ul.list
{
}

ul.list a
{
    text-transform: uppercase;
}

ul.list li
{
    padding: 10px;
    margin-left: -10px;
}

ul.list li p
{
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
}

ul.list li:hover
{
    color: #fff;
    background-color: #1BA0E1;
}

ul.list li:hover a
{
    color: #fff;
    text-decoration: underline;
}

ul.list li:hover p
{
    color: #fff;
}

p
{
    line-height: 20px;
}

table.list
{
    width: 100%;
}

table.list a
{
    font-family: 'Segoe UI Light' , Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

table.list td, th
{
    padding: 10px;
}

table.list th
{
    text-align: left;
    font-size: 17px;
    font-weight: normal;
}

table.list p
{
    height: 18px;
    overflow: hidden;
}

table.list thead tr
{
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
}

table.list tbody tr
{
    border-bottom: 1px solid #BBBBBB;
}

table.list tbody tr:hover td
{
    color: #fff;
    background-color: #1BA0E1;
}

table.list tbody tr:hover td a
{
    color: #fff;
    text-decoration: underline;
}

.clear
{
    clear: both;
    display: block;
}

.commands
{
}

.commands li
{
    float: left;
    margin-right: 10px;
}

.commands li a
{
    float: left;
    margin-top: 10px;
}

.commands li span.disabled
{
    float: left;
    margin-top: 10px;
    color: #808080;
}

.box
{
    color: #000000;
    background-color: #CCCCCC;
    text-transform: lowercase;
    display: inline;
    font-size: 12px;
    padding: 2px 7px 2px 7px;
    white-space: nowrap;
}

.pretty-box
{
    background-color: #1BA0E1;
}

.tip
{
    margin-top: 5px;
    color: #999999;
    display: block;
    font-size: 12px;
}

.validation-summary-errors
{
    color: #DB4F5C;
    margin-bottom: 10px;
}

.validation-summary-errors span
{
    font-weight: bold;
}

.validation-summary-errors ul
{
    margin-top: 5px;
    list-style-type: inherit;
}

.validation-summary-errors li
{
    margin-left: 30px;
    line-height: 20px;
}

.field-validation-error
{
    color: #DB4F5C;
    margin-left: 5px;
    font-size: 12px;
}

.instructions
{
    margin-bottom: 10px;
}

.part
{
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.part li
{
    padding: 10px 20px 10px 20px;
}

.part li.last
{
    margin-bottom: 0px;
}

.part li a
{
    color: #000;
}

.part li:hover
{
    background-color: #1BA0E1;
}

.part li:hover a
{
    color: #FFF;
}

#header
{
    padding: 0px 80px 10px 80px;
    height: 110px;
    background-color: #fff;
}

#header .pretty-box
{
    float: right;
    height: 60px;
    width: 340px;
    margin-left: 20px;
}

#title
{
    padding-top: 10px;
    float: left;
}

#title a
{
}

#title a:hover
{
}

#title h1
{
    text-transform: lowercase;
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#title p
{
    font-size: 12px;
    text-transform: uppercase;
    color: #B2B2B2;
    letter-spacing: 1px;
}

#profile
{
    float: right;
    margin-left: 20px;
}

#profile img
{
    float: left;
    width: 60px;
    height: 60px;
}

#profile span
{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

#menu
{
    color: #7E7E7E;
    float: right;
    padding-top: 10px;
    letter-spacing: 1px;
}

#menu a
{
    color: #646464;
    font-size: 12px;
    text-transform: uppercase;
}

#menu li
{
    float: left;
    margin-left: 10px;
}

#find
{
    float: right;
    margin-right: 80px;
}

#find input[type="text"]
{
    width: 328px;
}

#find img
{
    position: absolute;
    margin-left: -22px;
    margin-top: 8px;
}

#filter
{
    background-color: #F0F0F0;
    margin-bottom: 20px;
    padding: 20px;
}

#filter .separator
{
    margin-bottom: 20px;
}

#filter h5
{
    color: #1BA0E1;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#filter select
{
    width: auto;
    font-weight: bold;
}

#filter strong
{
    cursor: pointer;
    text-decoration: underline;
}

#navigation
{
    clear: both;
    display: block;
    height: 50px;
    margin-left: 60px;
}

#navigation a
{
    font-family: 'Segoe UI Light' , Arial, Helvetica, sans-serif;
    float: left;
    color: #666666;
    height: 33px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 10px 2px 10px;
}

#navigation a:hover
{
    background-color: #1BA0E1;
    color: #FFF;
}

#navigation ul
{
    margin-left: 10px;
}

#navigation li
{
    float: left;
    margin-right: 40px;
}

#navigation li.selected a
{
    color: #000;
}

#navigation li.selected a:hover
{
    color: #fff;
}

#main
{
    margin: 0px 60px 10px 60px;
    padding: 20px;
    min-height: 600px;
}

#main .pretty-box
{
    position: absolute;
    width: 40px;
    height: 340px;
    margin-top: -70px;
    margin-left: -80px;
}

#body
{
    vertical-align: top;
}

#sidebar
{
    padding-left: 40px;
    width: 340px;
    vertical-align: top;
}

#sidebar li .value
{
    float: right;
}

#sidebar .part
{
    border: solid 1px #E2E2E2;
}

#sidebar .part h4
{
    padding: 10px 20px 0px 20px;
}

#sidebar .part h5
{
    padding: 10px 20px 10px 20px;
}

#sidebar .part h5.first
{
    padding-top: 0px;
}

#sidebar .part .name-value a
{
    color: #666666;
    float: right;
    font-size: 12px;
}

#sidebar .part .name-value li:hover
{
    color: #fff;
}

#sidebar .part .name-value li:hover a
{
    color: #fff;
}

#sidebar .part .total
{
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sidebar .part .total span
{
    float: right;
}

#footer
{
    margin-top: 10px;
    padding: 10px 80px 10px 80px;
    color: #999999;
    text-align: left;
}

#footer ul
{
    margin-bottom: 10px;
}

#footer li
{
    display: inline;
}

#footer strong
{
}

#footer a
{
}

#footer a:hover
{
    color: #000;
}

#footer h5
{
    color: #1BA0E1;
    text-transform: lowercase;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    float: right;
}
